services:
  db:
    image: postgres:18
    container_name: postgres_db
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: athletics_db
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql
